
obj/Debug/netcoreapp2.1/testproj3.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.1/testproj3.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/testproj3.assets.cache
obj/Debug/netcoreapp2.1/project.razor.json
